<header>
    <h1>
      Driver School
    </h1>

    <section id="buttons">
        <button mat-raised-button color="primary"(click)="onToggleSideNav()"> <mat-icon>menu_open</mat-icon> </button>

        <button mat-flat-button color="primary"> (555) 555-5555  </button>

        <div id="social">
          <button mat-flat-button color="primary"><mat-icon>facebook</mat-icon></button>

          <button mat-flat-button color="primary">
            <i class="fab fa-instagram fa-lg"></i>
          </button>

          <button mat-flat-button color="primary">
            <i class="fab fa-twitter fa-lg"></i>
          </button>

          <button mat-flat-button color="primary">
            <i class="fab fa-youtube fa-lg"></i>
          </button>
        </div>

    </section>

  </header>