<main class="flexcoleven">
    <h1>Student Registry</h1>
    <section class="flexroweven">
        <mat-card class="mat-card-style">
            <mat-form-field class="goldbackground">
                <input matInput type="text" placeholder="Filter" (keyup)="doFilter($event.target.value)">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let p"> {{p.firstName}} {{p.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef>Phone</th>
                    <td mat-cell *matCellDef="let p"> {{p.phoneNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let p"> {{p.registeredEmail}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr class="tblr tran-05s glow-y" mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="onClickStudent(row)"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        </mat-card>
    </section>
</main>