<main class="flexroweven">
    <section id="accountinfo">
        <mat-card class="mat-card-style">
            <h1>Account Info</h1>
            <h3>Student Info</h3>
            <p>
                Name: John Smith
                <br>
                Email: johnsmith@info.com (verified)
                <br>
                Phone: (555) 555-5555
                <br>
                Paypal: link account
            </p>
            <h3>Parent Info</h3>
            <p>
                Name: John Smith
                <br>
                Email: johnsmith@info.com (verified)
                <br>
                Phone: (555) 555-5555
                <br>
                Paypal: link account
            </p>
        </mat-card>
    </section>

    <section class="flexcoleven">
        <mat-card class="mat-card-style">
            <h1>Settings</h1>
            <p>
                Change email address
                <br>
                Change phone number
                <br>
                Delete Account
                <br>
            </p>
        </mat-card>
        <mat-card class="mat-card-style">
            <h1>Other</h1>
            <p>
                Referral link: (link goes here)
                <br>
                Share 
                <br>
                Join as instructor
            </p>
        </mat-card>
    </section>
</main>