<main class="flexroweven">
    <section id="accountinfo">
        <mat-card class="mat-card-style">
            <h1>Account Info</h1>
            <h3>{{ uiManager.accountType | titlecase }} Info</h3>
            <p>
                Name: John Smith
                <br>
                Email: johnsmith@info.com (verified)
                <br>
                Phone: (555) 555-5555
                <br>
                Paypal: link account
            </p>
            <ng-container *ngIf="uiManager.accountType === 'student' && uiManager.isMinor">
                <h3>Parent Info</h3>
                <p>
                    Name: John Smith
                    <br>
                    Email: johnsmith@info.com (verified)
                    <br>
                    Phone: (555) 555-5555
                    <br>
                    <a class="linkglow-y" (click)="onLinkClick('linkPaypal')">Link Paypal account</a>
                </p>
            </ng-container>

        </mat-card>
    </section>

    <section class="flexcoleven">
        <mat-card class="mat-card-style">
            <h1>Settings</h1>
            <a class="linkglow-y" (click)="onLinkClick('changeEmail')">Change email address</a>
            <a class="linkglow-y" (click)="onLinkClick('changePassword')">Change password</a>
            <a class="linkglow-y" (click)="onLinkClick('deleteAccount')">Delete account</a>
            <a class="linkglow-y" (click)="onLinkClick('changePhone')"> Change phone number</a>

        </mat-card>
        <mat-card class="mat-card-style">
            <h1>Other</h1>
            <p>
                Referral link: (link goes here)
                <br>
                <a class="linkglow-y" (click)="onLinkClick('shareLink')">Share</a>
                Join as instructor
            </p>
        </mat-card>
    </section>
</main>