main {
    /* border: 1px solid green; */
    box-sizing: border-box;
}

section {
    width: 100%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}



mat-card {
    text-align: center;
}

mat-form-field{
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

#preview {
    height: 400px;
}

table {
    width: 100%;
    text-align: left;
}


