<main class="flexcoleven">
    <h1> Schedule </h1>

    <ng-container *ngIf="uiManager.accountType === 'student'">
        <section>
            <mat-card class="mat-card-style">
                <button mat-flat-button class="tran-05s glow-g" (click)="togglePage()">{{otherPage |titlecase}}</button>
            </mat-card>
        </section>        
    </ng-container>

    <ng-container>
        <div class="flexroweven">
            <section>
                <mat-card class="mat-card-style">
                    <h3>
                        {{selectedPage | titlecase}}
                    </h3>
                    <mat-form-field class="goldbackground">
                        <input matInput type="text" placeholder="Filter" (keyup)="doFilter($event.target.value)">
                    </mat-form-field>

                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef>Name</th>
                            <td mat-cell *matCellDef="let p"> {{p.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef>Date</th>
                            <td mat-cell *matCellDef="let p"> {{p.date}} </td>
                        </ng-container>

                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef>Price ($) </th>
                            <td mat-cell *matCellDef="let p"> {{p.price}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr class="tblr tran-05s glow-y" mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
                </mat-card>
            </section>

            <section>
                <mat-card class="mat-card-style">
                    <ng-container *ngIf="uiManager.accountType === 'student'">
                        <h3 *ngIf="selectedPage === 'sessions'">Upcoming Sessions</h3>
                        <h3 *ngIf="selectedPage === 'materials'">Document Preview</h3>
                        <div *ngIf="selectedPage === 'materials'" id="preview" class="flexcoleven">
                            <p>No document selected</p>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="uiManager.accountType === 'instructor'">
                        <!-- form for creating new session -->
                        
                    </ng-container>



                </mat-card>
            </section>
        </div>
    </ng-container>

</main>