<main class="maincontent">
    <section class="sectionstyle accentbackground flexroweven" id="header">
        <button class="glow-g tran-05s" mat-flat-button color="primary" (click)="select('account')">Account</button>
        <button class="glow-g tran-05s" mat-flat-button color="primary" (click)="select('schedule')">Schedule</button>
        <ng-container *ngIf="uiManager.accountType === 'student'">
            <button class="glow-g tran-05s" mat-flat-button color="primary" (click)="select('register')">Register</button>
        </ng-container>
        <ng-container *ngIf="uiManager.accountType === 'instructor'">
            <button class="glow-g tran-05s" mat-flat-button color="primary" (click)="select('students')">Students</button>
            <button class="glow-g tran-05s" mat-flat-button color="primary" (click)="select('content')">Content</button>                  
        </ng-container>

    </section>
    <section class="sectionstyle">
        <app-account-page *ngIf="selected==='account'">

        </app-account-page>
        <app-schedule *ngIf="selected==='schedule'">
        </app-schedule>

        <ng-container *ngIf="uiManager.accountType === 'student'">
            <app-register *ngIf="selected==='register'">

            </app-register>
        </ng-container>

        <ng-container *ngIf="uiManager.accountType === 'instructor'">
            <app-student-registry *ngIf="selected==='students'">

            </app-student-registry>

            <app-course-content *ngIf="selected==='content'">

            </app-course-content>
        </ng-container>


    </section>
</main>