<h1 mat-dialog-title>{{headerMessage | cameltospace | titlecase}}</h1>
<div mat-dialog-content>
    <ng-container  #container></ng-container>
</div>

<!-- email dialog -->
<ng-template #changeEmail>
    <form class="flexcoleven"  #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input matInput type="email" ngModel name="email" #em="ngModel" email required minlength="6" placeholder="New Email">
            <mat-error *ngIf="em.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="em.hasError('minlength')">Email must be at least 6 characters long</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" ngModel name="password" #pw="ngModel" password required matInput minlength="6" placeholder="Password">
            <mat-error *ngIf="pw.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="pw.hasError('minlength')">Password must be at least 6 characters long</mat-error>
        </mat-form-field>
        <section id="buttons">
            <button mat-flat-button color="primary" class="tran-05s glow-y" [disabled]="f.invalid || f.pristine"> Confirm</button>
        </section>
    </form>

</ng-template>

<!-- password dialog -->
<ng-template #changePassword>
    <form class="flexcoleven"  #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="password" ngModel #p1="ngModel" name="password1" matInput required password minlength="6" placeholder="New Password">
            <mat-error *ngIf="p1.hasError('required')">Password is required</mat-error>
            <mat-error *ngIf="p1.hasError('minlength')">Password must be at least 6 characters long</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input type="password" ngModel #p2="ngModel" name="password2" matInput required password minlength="6" placeholder="Confirm Password">
            <mat-error *ngIf="p1.control.value != p2.control.value || p2.hasError('required')">Passwords must match</mat-error>
        </mat-form-field>
        <section id="buttons">
            <button mat-flat-button color="primary" class="tran-05s glow-y" [disabled]="f.invalid || f.pristine"> Confirm</button>
        </section>
    </form>
</ng-template>

<!-- phone number dialog -->
<ng-template #changePhone>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="text" ngModel matInput name="phone" #pn="ngModel" required pattern="^[2-9]\d{2}-\d{3}-\d{4}$" placeholder="###-###-####">
            <mat-error *ngIf="pn.hasError('pattern')">Entry must follow ###-###-####</mat-error>
            <mat-error *ngIf="pn.hasError('required')">Phone number is required</mat-error>
        </mat-form-field>
        <section id="buttons">
            <button mat-flat-button color="primary" class="tran-05s glow-y" [disabled]="f.invalid || f.pristine"> Confirm</button>
        </section>
    </form>
</ng-template>

<!-- delete account dialog -->
<ng-template #deleteAccount>
    <p>Delete Account works</p>
</ng-template>

<!-- share link dialog -->
<ng-template #shareLink>
    <p>Share Link works</p>
</ng-template>

<!-- link paypal dialog -->
<ng-template #linkPaypal>
 <p>Link paypal works</p>
</ng-template>

<!-- click student  -->
<ng-template #studentInfo>
    <p> Student Name: {{data.extra.firstName}}  {{data.extra.lastName}}</p> <br>
    <p> Phone: {{data.extra.phoneNumber}}</p> <br>
    <p> Email: {{data.extra.registeredEmail}} </p> <br>    
</ng-template>


