
#wrapper {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    height: 100%;
}


app-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

main {
    display: flex;
    flex-direction: row;
    /* border: 5px solid orange; */
}

#sidenav {
    /* border: 5px solid green; */
    left: 0;
    top: 0;
}

#content {
    /* border: 5px solid purple; */

}

app-footer {
    z-index: 100;
}
