ng-container {
    position: absolute;
}

mat-drawer-container {
    position: absolute;
    top: 125px;
    left:0;
    right: 0;
    /* border: 10px solid red; */
    bottom: 0;
    
}
mat-drawer{
    width: 200px;
}

#header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#social button {
    margin: 1rem;
    
}


#sidenav-buttons {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 70%;
}
#sidenav-buttons button {
    margin-top: 1rem;
    transition-duration: 0.5s;
}

#sidenav-buttons button:hover {
    background-color: rgb(254,214,0);
    color: black;
}