<ng-container>

  <mat-toolbar id="header" color="primary">


    <mat-toolbar-row id="title">
      <h1>Driver school</h1>
    </mat-toolbar-row>

    <mat-toolbar-row class="flexroweven yellowborder tealborder" id="header-buttons">
      <button mat-flat-button color="accent" [disabled]="inProg" (click)="sidenav.toggle()">
        <mat-icon>
          view_sidebar
        </mat-icon>
      </button>

      <button mat-flat-button color="accent">
        <mat-icon>phone</mat-icon><p class="hide-text">(555) 555-5555</p> 
      </button>
      
      <button mat-flat-button color="accent">
        <mat-icon>assignment</mat-icon> 
        <p class="hide-text">
          driverschool@info.com
        </p>
      </button>

      <section id="social">

        <a href="http://facebook.com">
          <button mat-flat-button color="accent">
            <mat-icon>facebook</mat-icon>
          </button>
        </a>

        <a href="http://instagram.com">
          <button mat-flat-button color="accent">
            <i class="fab fa-instagram fa-2x"></i>
          </button>
        </a>

        <a href="http://twitter.com">
          <button mat-flat-button color="accent">
            <i class="fab fa-twitter fa-2x"></i>
          </button>
        </a>   

      </section>
      
    </mat-toolbar-row>
    


  </mat-toolbar>

  <mat-drawer-container>

    <mat-drawer #sidenav mode="side">

      <section id="sidenav-buttons">
        <button mat-flat-button color="primary" (click)="onNavigate('home')">
          Home
        </button>

        <button mat-flat-button color="primary" (click)="onNavigate('offers')">
          Our Offers
        </button>

        <!-- only show th e log in and sign up buttons when logged out -->
        <button *ngIf="!loggedIn" mat-flat-button color="primary" (click)="onNavigate('signup')">
          Sign Up
        </button>

        <button *ngIf="!loggedIn" mat-flat-button color="primary" (click)="onNavigate('login')">
          Log In
        </button>

        <!-- only show this button when the user is logged in -->
        <button *ngIf="loggedIn" mat-flat-button color="primary" (click)="onNavigate('userContent')">
          Your Stuff
        </button>

        <button *ngIf="loggedIn" mat-flat-button color="primary" (click)="logOut()">
          Logout
        </button>

        
      </section>



    </mat-drawer>


    <mat-drawer-content>
      <router-outlet>

      </router-outlet>
    </mat-drawer-content>


    
  </mat-drawer-container>
<!-- 
  <mat-toolbar id="footer" color="primary">
    <div>
      <i class="fab fa-cc-paypal fa-2x"></i>
    </div>
  </mat-toolbar> -->


</ng-container>



