ng-container {
    position: absolute;
}

mat-drawer-container {
    position: absolute;
    top: 125px;
    left:0;
    right: 0;
    /* border: 10px solid red; */
    bottom: 0;
    
}
mat-drawer{
    width: 200px;
}

mat-toolbar-row button p {
    display: inline;
}

#header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    text-align: ri;
}

#footer {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left:0;
    right: 0;
}

#footer div {
    width: 100%;
    margin: 0;
    text-align: right;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#social button {
    margin: 1rem;
}


#sidenav-buttons {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 70%;
}
#sidenav-buttons button {
    margin-top: 1rem;
    transition-duration: 0.5s;
}

#sidenav-buttons button:hover {
    background-color: rgb(254,214,0);
    color: black;
}


/* @media screen and (max-width: 550px) {
    .tealborder {
        
    }
} */

@media screen and (max-width: 850px) {
    .hide-text {
        visibility: hidden;
        font-size: 0px;
        height: 0px;
    }
}