<ng-container>

  <mat-toolbar id="header" color="primary">


    <mat-toolbar-row id="title">
      <h1>Driver school</h1>
    </mat-toolbar-row>

    <mat-toolbar-row id="header-buttons">
      <button mat-flat-button color="accent" (click)="sidenav.toggle()">
        <mat-icon>
          view_sidebar
        </mat-icon>
      </button>
      
      <section id="social">
        <button mat-flat-button color="accent">      
          <mat-icon>facebook</mat-icon>
        </button>
  
        <button mat-flat-button color="accent">
          <i class="fab fa-instagram fa-2x"></i>
        </button>
  
        <button mat-flat-button color="accent">
          <i class="fab fa-twitter fa-2x"></i>
        </button>
      </section>
    </mat-toolbar-row>
    


  </mat-toolbar>

  <mat-drawer-container>

    <mat-drawer #sidenav mode="side">

      <section id="sidenav-buttons">
        <button mat-flat-button color="primary" (click)="onNavigate('home')">
          Home
        </button>

        <button mat-flat-button color="primary" (click)="onNavigate('offers')">
          Our Offers
        </button>

        <button mat-flat-button color="primary" (click)="onNavigate('signup')">
          Sign Up
        </button>

        <button mat-flat-button color="primary" (click)="onNavigate('login')">
          Log In
        </button>
      </section>



    </mat-drawer>


    <mat-drawer-content>
      <router-outlet>

      </router-outlet>
    </mat-drawer-content>
    
  </mat-drawer-container>


  <mat-toolbar id="footer" color="primary">
    <h1>Footer</h1>
    
  </mat-toolbar>



</ng-container>



