<main>

    <section>
        <h1>Sign Up</h1>
        <h3 *ngIf="isMinor">Parent's Information Required</h3>
        
        <form [formGroup]="signupForm1" *ngIf="!next" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <input formControlName="firstname" type="text" matInput  placeholder="First Name">
                <mat-error >First name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input formControlName="lastname" type="text" matInput  placeholder="Last Name">
                <mat-error>Last name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Your Birthdate - MM/DD/YYYY</mat-label>
                <input formControlName="birthday" matInput name="bdate"  [max]="maxDate" [min]="minDate" [matDatepicker]="picker">
                <mat-error>Birthdate is required</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div>
                <button class="tran-05s glow-y" type="button" mat-flat-button color="primary" [disabled]='signupForm1.invalid || signupForm1.pristine' (click)="onNext()">
                    Next
                </button> 
            </div>
        </form>
        
        <form [formGroup]='signupForm2' *ngIf="next"> 

            <mat-form-field *ngIf="isMinor">
                <input formControlName="parentfirst" type="text" matInput   placeholder="Parent's first name">
                <mat-error>First name is required</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="isMinor">
                <input formControlName="parentlast" type="text" matInput  placeholder="Parent's last name">
                <mat-error>Last name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input formControlName="email" type="email" matInput  email [placeholder]="message">
                <mat-error>Email is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input formControlName="password1" type="password" matInput  password minlength="6" placeholder="Password">
                <mat-error >Password is required</mat-error>
                <mat-error >Password must be at least 6 characters long</mat-error>
            </mat-form-field>
            

            <mat-form-field>
                <input type="password2" matInput  password minlength="6" placeholder="Confirm Password">
                <mat-error >Passwords must match</mat-error>
            </mat-form-field>

            <div>
                <button type="button" mat-flat-button color="accent" (click)="onBack()">Back</button> |
                <button type="submit" mat-flat-button color="primary">
                    Sign Up
                </button> 
            </div>

        </form>

    </section>


</main>