<main>

    <section>
        <h1>Sign Up</h1>
        <h3 *ngIf="isMinor">Parent's Information Required</h3>
        
        <form #f1="ngForm" *ngIf="!next">
            <mat-form-field>
                <input type="text" ngModel name="fname" matInput required placeholder="First Name">
                <mat-error >First name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="text" ngModel name="lname" matInput required placeholder="Last Name">
                <mat-error>Last name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Your Birthdate - MM/DD/YYYY</mat-label>
                <input matInput [(ngModel)]="birthDate" name="bdate" required [max]="maxDate" [min]="minDate" [matDatepicker]="picker">
                <mat-error>Birthdate is required</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div>
                <button class="tran-05s glow" type="button" mat-flat-button color="primary" [disabled]="f1.pristine || f1.invalid" (click)="onNext(f1)">
                    Next
                </button> 
            </div>
        </form>
        
        <form #f2="ngForm" (ngSubmit)="onSubmit(f2)" *ngIf="next"> 

            <mat-form-field *ngIf="isMinor">
                <input type="text" ngModel  name="pfirst" matInput  required placeholder="Parent's first name">
                <mat-error>First name is required</mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="isMinor">
                <input type="text" ngModel name="plast" matInput required placeholder="Parent's last name">
                <mat-error>Last name is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="email" ngModel name="email" matInput required email [placeholder]="message">
                <mat-error>Email is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="password" ngModel #p1="ngModel" name="password1" matInput required password minlength="6" placeholder="Password">
                <mat-error *ngIf="p1.hasError('required')">Password is required</mat-error>
                <mat-error *ngIf="p1.hasError('minlength')">Password must be at least 6 characters long</mat-error>
            </mat-form-field>
            

            <mat-form-field>
                <input type="password" ngModel #p2="ngModel" name="password2" matInput required password minlength="6" placeholder="Confirm Password">
                <mat-error *ngIf="p1.control.value != p2.control.value || p2.hasError('required')">Passwords must match</mat-error>
            </mat-form-field>

            <div>
                <button type="submit" mat-flat-button color="primary" [disabled]="f2.pristine || f2.invalid">
                    Sign Up
                </button> 
            </div>

        </form>

    </section>


</main>