mat-drawer-container {
    border-right: 1px solid grey;
    height: 100%;
    
    
}

h2 {
    margin: 1rem;
}

#content {
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */    
}

button {
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition-duration: 0.5s;
}

button:hover {
    background-color: yellow;
    color: black;
}