<mat-drawer-container autosize>
    <mat-drawer mode="side" #drawer>
        <h2>
            Menu
        </h2>
        <section id="content">
            <button mat-flat-button color="primary">
                Home
            </button>
            <button mat-flat-button color="primary">
                What We Offer
            </button>
            <button mat-flat-button color="primary">
                Sign Up
            </button>
            <button mat-flat-button color="primary">
                Log In
            </button>
        </section>

    </mat-drawer>
</mat-drawer-container>