<main>

    <section id="first">
        <mat-card id="text">
            <h2>
                Take The Wheel
            </h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quidem, cumque amet ab modi quos nesciunt, repudiandae est expedita esse, consequuntur alias possimus ducimus nihil consequatur laboriosam consectetur sunt voluptatum?
            </p>
        </mat-card>

        <div id="image">
            <img src="../../assets/img/homepagedriver.png" alt="d">
        </div>
    </section>

    <section id="second">
        <h1>
            Our Offers 
        </h1>

        <div id="offers">
            <mat-card>
                <h3>
                    Youth Program
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi laboriosam ipsa quisquam, repellendus blanditiis voluptatum eum possimus doloribus, nam mollitia necessitatibus perferendis voluptas odio illum. Saepe qui laboriosam debitis voluptates?
                </p>

            </mat-card>

            <mat-card>
                <h3>
                    Adult Program
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi laboriosam ipsa quisquam, repellendus blanditiis voluptatum eum possimus doloribus, nam mollitia necessitatibus perferendis voluptas odio illum. Saepe qui laboriosam debitis voluptates?
                </p>
            </mat-card>

            <mat-card>
                <h3>
                    Online Resources and More
                </h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi laboriosam ipsa quisquam, repellendus blanditiis voluptatum eum possimus doloribus, nam mollitia necessitatibus perferendis voluptas odio illum. Saepe qui laboriosam debitis voluptates?
                </p>
            </mat-card>
        </div>

    </section>

</main>