#first #text{
    width: 70%;
}

#image img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

mat-card {
    background-color: rgb(33,33,33);
    color: white;
    transition-duration: 0.5s;
    margin: 0.5rem;
}

mat-card:hover {
    background-color: rgb(254, 214, 0);
    color: black;
}

