main {
    /* border: 5px solid green; */
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 100%;
}

section {
    /* border: 5px solid red; */
    background-color: rgb(63, 63, 63);
    color: white;
    margin: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1.5rem;
}


#first {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#first div {
    /* border: 5px solid red; */
}

#first #text{
    width: 30%;
}

#image img {
    max-width: 300px;
}

#offers {
    display: flex;
    flex-direction: row;
    /* border: 10px solid red; */
}

mat-card {
    background-color: rgb(33,33,33);
    color: white;
    transition-duration: 0.5s;
    margin: 0.5rem;
}

mat-card:hover {
    background-color: rgb(254, 214, 0);
    color: black;
}

