<main class="maincontent">



    <section class="sectionstyle flexcoleven " id="first">
        <h1>
            Welcome
        </h1>
        <div class="flexroweven fce-resp" id="content">
            <mat-card id="text">
                <h2>
                    Take The Wheel
                </h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio quidem, cumque amet ab modi quos nesciunt, repudiandae est expedita esse, consequuntur alias possimus ducimus nihil consequatur laboriosam consectetur sunt voluptatum?
                </p>
            </mat-card>

            <div id="image">
                <img src="../../assets/img/homepagedriver.png" alt="">
            </div>
        </div>

    </section>

    <section class="sectionstyle" id="second">
        <h1>
            We Provide
        </h1>

        <div class="fce-resp flexroweven" id="offers">
            <mat-card>
                <h3>
                    Youth Program
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi laboriosam ipsa quisquam, repellendus blanditiis voluptatum eum possimus doloribus, nam mollitia necessitatibus perferendis voluptas odio illum. Saepe qui laboriosam debitis voluptates?
                </p>

            </mat-card>

            <mat-card>
                <h3>
                    Adult Program
                </h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi laboriosam ipsa quisquam, repellendus blanditiis voluptatum eum possimus doloribus, nam mollitia necessitatibus perferendis voluptas odio illum. Saepe qui laboriosam debitis voluptates?
                </p>
            </mat-card>

            <mat-card>
                <h3>
                    Online Resources and More
                </h3>

                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi laboriosam ipsa quisquam, repellendus blanditiis voluptatum eum possimus doloribus, nam mollitia necessitatibus perferendis voluptas odio illum. Saepe qui laboriosam debitis voluptates?
                </p>
            </mat-card>
        </div>

    </section>

</main>