<main>
    <section id="first">
        <div id="text">
            <h2>
                Take the Wheel
            </h2>
            <p>
                At Driving School we strive to give our customers the 
                best instruction for both teens and adults. Our curriculum,
                taught by our qualified instructors, meets the latests standards set by the Michigan Department of Transportation. We promise
                to provide you the best service so that you can comfortably
                take the wheel!
            </p>
        </div>
        <div id="image">
            <img src="../../assets/img/homepagedriver.png" alt="driver">
        </div>

    </section>

    <section id="second">
        <h2>
            Our Offers
        </h2>

        <figure>
            <div>
                Youth Program
            </div>
            <div>
                Adult Training
            </div>
            <div>
                Online Resources
            </div>
        </figure>

    </section>
</main>