main {
    text-align: center;
}

mat-card {
    background-color: rgb(33,33,33);
    color: white;
    transition-duration: 0.5s;
    margin: 0.5rem;
}

mat-card:hover {
    background-color: rgb(254, 214, 0);
    color: black;
}
