main {
    margin:0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 100%;
    text-align: center;

}

section {
    background-color: rgb(63,63,63);
    color:white;
    margin: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1.5rem;

}

#courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-card {
    background-color: rgb(33,33,33);
    color: white;
    transition-duration: 0.5s;
    margin: 0.5rem;
}

mat-card:hover {
    background-color: rgb(254, 214, 0);
    color: black;
}
