<main>

    <section id="banner">

        <mat-card>
            <h1>
                Our Offers, Courses, and Schedule
            </h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio distinctio odio, qui voluptates possimus placeat esse ad, dolorem id dolores reiciendis cum fuga nulla explicabo quia nisi eveniet cupiditate ipsa?
            </p>
        </mat-card>

    </section>

    <section id="courses">
        <mat-card>
            <h1>
                Segment 1
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, doloremque, nulla maiores eaque unde libero ratione iure, distinctio tempora molestiae culpa omnis odio recusandae eos? At ipsa officiis voluptates voluptatibus.
            </p>
        </mat-card>

        <mat-card>
            <h1>
                Segment 2
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam cupiditate dolorum maxime placeat accusamus optio, pariatur illo, exercitationem officiis magni voluptas fugiat vero quasi quaerat ipsum doloremque delectus, quisquam expedita.
            </p>
        </mat-card>

        <mat-card>
            <h1>
                Our Programs
            </h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero excepturi accusantium exercitationem officiis vitae possimus distinctio blanditiis, iste ratione fugiat facere beatae sunt enim temporibus, hic ipsa, ab ea unde.
            </p>
        </mat-card>

        
    </section>


</main>